.App {
  text-align: center;
}




.footer {
  background-color: #8b8c8d;
  min-height: 6vh;
  font-size: calc(10px + 1vmin);
  color: black;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: left;
  line-height: 1.5;
  padding-left: 35px;
  padding-top: 15px;
  height: 1.5;
}