.App {
  text-align: center;
}
.result{
 min-height: 45vh;
  // align-items: center;
  // justify-content: center;
  margin: 20px;
  padding: 25px;
  margin-bottom: 55px;
  margin-top: 0px;
  padding-top: 0px;
  text-align: left;
  width: 50%;
  float: right;
  
  font-size: calc(10px + 1vmin);
  color:black;
  background-color: rgb(243, 240, 240);
  border: solid black 1px;
}
